[submodule "caravel-lite"]
	path = caravel
	url = https://github.com/efabless/caravel-lite
[submodule "wb_openram_wrapper"]
	path = wb_openram_wrapper
	url = https://github.com/embelon/wb_openram_wrapper
[submodule "wb_ram_bus_mux"]
	path = wb_ram_bus_mux
	url = https://github.com/embelon/wb_ram_bus_mux.git
[submodule "wb_hyperram"]
	path = wb_hyperram
	url = https://github.com/embelon/wb_hyperram.git
